.dataframe {
    border-width: 1px;
}

.dataframe th{
    border-width: 1px;
}

.dataframe th:first-child{
    text-align: left ;
    /* 表左列固定 背景色ないと透けて文字が重なる*/
    position: sticky ;
    left: 0 ;
    background-color: white;
}

.dataframe td{
    text-align: center;
    border-width: 1px;
}

