.dataframe th:first-child{
    text-align: left;
    /* 表左列固定 背景色ないと透けて文字が重なる*/
    position: sticky;
    left: 0;
    background-color: white;
}

.dataframe td{
    text-align: center;
}

.jumbotron {
    background:url(https://lh3.googleusercontent.com/AreHCj5jFQYpUb2h1jbOrpkYHk1LKWEldDTpFb_3d_WvxZbt5OAYHF2QA0t_tlW8uHC4LyoxV5alQJDmpTZuFVYyIRp44ufypJwOdYwjj2-G_Hm2S3XXCORt0c71AJIfu5XBaXzvDRtXmc-nl11jqv6ZcivAp62GFqIYuJ45MSDiYvFENoNRk8k22v6GWNfGYD0-Xzkk13dwugtNAkJl4WUXBL94_azMPwImsSbsm4KahZZxODvlz16PkHTzkUog8FnEbUBHxumhkOylhd3ifA4X-M9xUSWP1PHiV2TMDzCL-G7LWDriqwyXg_fvzel4iUsSyNhP-s90NTtLPg431lO7LRcbaYAXv2Ev57HLl9TY9vAZ5Wt4TjjGXA7GO7bi2W2J1TgycemtEGy0gVh8g1n1IxFJ-BnjnyX5n4VSzo3evnU95mobcHdW4tR5zM3o0U4LXQ2goBQ3zHvm2UgFIdDhookUwKeYq_DK0U04dWKEIXqk7B4rDyWtQoksjbzdwfMvBnuDH2YbrTjOcijMlDyKY_oD6UXqxCzp5Blgq0botCBRznv17xTDdYQDGI6Wi_DmnRqEWzUYyCOfufxJnUV9BHt45FzFJuGQA9hxYjTg-BDwXsGWzMv3m9Ka9bPORONWGP45S0IX6ca9N8zJoqy7F1jwkPPYT_gabFgsiToHygougU50I05I3X1LychTi87VvwjO6C7WDmbmDIdS0BuJ=w2510-h1056-no?authuser=0) center no-repeat; background-size: cover;
}
