<!-- Count -->
<section class="pt-3 pb-4" id="count-stats">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto py-3">
                <div class="row">
                    <div class="col-md-4 position-relative">
                        <div class="p-3 text-center">
                            <h1 class="text-gradient text-info"><span id="state1" countTo="{% num_of_parks %}">0</span></h1>
                            <h5 class="mt-3">National Parks</h5>
                        </div>
                        <hr class="vertical dark">
                    </div>
                    <div class="col-md-4 position-relative">
                        <div class="p-3 text-center">
                            <h1 class="text-gradient text-info"> <span id="state2" countTo="{% num_of_sites %}">0</span>+</h1>
                            <h5 class="mt-3">Campgrounds</h5>
                        </div>
                        <hr class="vertical dark">
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 text-center">
                            <h1 class="text-gradient text-info"><span id="state3" countTo="2">0</span>+</h1>
                            <h5 class="mt-3">Weeks</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>