<footer class="footer pt-5 mt-5">
    <div class="container">
        <div class=" row">
            <div class="col-md-3 mb-4 ms-auto">
                <div>

                    <h6 class="font-weight-bolder m-4"><a href="https://ichiken.tplinkdns.com">
                            <i class="fas fa-campground"></i> NPCamp</a></h6>
                </div>
                <div>
                    <ul class="d-flex flex-row ms-n3 nav">



                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 m-4">
                <div>
                    <h6 class="text-sm">Developer</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://ichiken-usa.blogspot.com/" target="_blank">
                                Blog
                            </a>
                        </li>
                        <!-- Github -->
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon me-2" href="https://github.com/ichiken-usa"
                                target="_blank">
                                <i class="fab fa-github"></i>
                                <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Check on Github">Github</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/IchikenUsa" target="_blank">
                                <i class="fab fa-twitter fa-lg faa-tada animated"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 m-4">
                <div>
                    <h6 class="text-sm">Help & Support</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://ichiken-usa.blogspot.com/p/blog-page_92.html"
                                target="_blank">
                                Contact
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 m-4 me-auto">
                <div>
                    <h6 class="text-sm">Legal</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://ichiken-usa.blogspot.com/p/blog-page.html"
                                target="_blank">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <p class="text-dark my-4 text-sm font-weight-normal">
                        All rights reserved. Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Material Kit by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>